<h4>2nd Lock</h4>
<p>['yes'] The top lock is on.<br>
But the door is only half locked.<br>
Now, lock the bottom lock manually.<br>
Is the door fully locked? Both locks on?<br>
There should be less give to the door.<br>
Turn the door knob as if to open the door. Push 9 times.<br>
Did any car interrupt the process?</p>

<%= form_for :decision1, url: decision1s_path do |f| %>
  <p>
      <%= f.label :Yes? %>
      <%= f.text_field :d5 %>
  </p>
  
  <p>
      <%= f.label :No? %>
      <%= f.text_field :d6 %>
  </p>
  
  <p>
      <%= f.submit %>
  </p>
<% end %>