<h3>Decision</h3>
<p>Is the door locked?<br>
Turn the door knob as if to open the door. Push 6 times.<br>
Did the door open?</p>

<%= form_for :decision, url: decisions_path do |f| %>
  <p>
      <%= f.label :Yes? %><br>
      <%= f.text_field :d1 %>
  </p>
  
  <p>
      <%= f.label :No? %><br>
      <%= f.text_field :d2 %>
  </p>
  
  <p>
      <%= f.submit %>
  </p>
<% end %>